body{
    width: 1250px;
    padding: 50px;
    background-color:cornsilk;
}
.phh{
    background-color: rgb(43, 43, 65);

}

p{
    text-align: left;
}

.kod{
    color: blue;
}
img{
    width: 650px;
    height: auto;
}
.meret{
    width: 300px;
}